/* stylelint-disable selector-class-pattern */
.blockquote {
  --default-alfa-bg: 2%;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: var(--grid-gap);
  place-items: center;
  background-color: hsla(var(--dark-h) var(--dark-s) var(--dark-b) / var(--default-alfa-bg));
  border-radius: 1.6rem;

  &__inner {
    position: relative;
    grid-column: 5 span;

    p {
      max-width: 49.2rem;
      margin: 0 !important;
      font: var(--weight) var(--font-big);
      line-height: 3rem;

      @include mq(sm) {
        line-height: 1.2;
      }
    }

    &::before {
      position: absolute;
      top: 4px;
      left: -73px;
      color: #8ac40e;
      font-weight: 500;
      font-size: 13.6rem;
      line-height: 0.4;
      opacity: 0.3;
      content: "“";

      @include mq(sm) {
        top: 1.5rem;
        left: -2rem;
      }
    }
  }

  &__img {
    flex-shrink: 0;
    grid-column: 3 span;
    padding: 2.4rem 3rem;

    .avatar {
      align-items: center;
    }

    .avatar__info {
      align-items: center;
      max-width: 100%;

      @include mq(sm) {
        gap: 0.8rem;
        align-items: flex-start;
      }
    }

    @include mq(sm) {
      margin-bottom: 3rem;
      padding: 0;
    }
  }

  @include mq(sm) {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    padding: 2rem;
  }
}
