.logo {
  display: inline-block;

  max-width: 30.8rem;

  .icon {
    width: 100%;
  }

  &__desktop {
    @include mq(sm) {
      display: none;
    }
  }

  &__mobile {
    display: none;

    @include mq(sm) {
      display: block;
    }
  }

  @include mq(sm) {
    max-width: 16rem;
  }
}
