-
  socials = [
    { name: "Telegram", icon: "tg" },
    { name: "Telegram", icon: "tg" },
    { name: "Telegram", icon: "tg" },
  ]

section.article.page-section-offset
  .content-container.article-content
    .page-grid.article__grid
      .article__column
        header.article__info
          .article__row
            .tag.article__tag Категория статьи
            time.article__time(datetime="2023-04-18") 18 апреля 2023
          h1.article__heading
            | Как собаки помогают бизнесу расти: опыт владельца digital-агентства
          .article__small-tags
            +icon-tag("eye", "100")
            +icon-tag("time-clock", "10 минут")

        .article__content
          h2 Заголовок первого абзаца
          p
            | По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.

          h2 Заголовок второго абзаца

          h3 Подзаголовок первый

          p
            | Равным образом реализация намеченных плановых заданий представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач.

          p
            | Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется:

          ul
            li абзацами случайным образом;
            li от двух до десяти предложений в абзаце;
            li что позволяет сделать текст более привлекательным
            li и живым для визуально-слухового восприятия.

          figure.blockquote
            figcaption.blockquote__img
              +avatar("Марат Шайхетдинов", "Независимый эксперт")(style="--avatar-dir: column; --avatar-gap: 1.6rem;")
            blockquote.blockquote__inner
              p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"

          h3 Подзаголовок второй

          p
            | Равным образом реализация намеченных плановых заданий представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач.

          .imgWrap
            img(src="assets/images/stock-image.jpg" alt="")
            span Архитектура какого-то города. Источник: unsplash.com


          p
            | Не следует, однако забывать, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Разнообразный и богатый опыт сложившаяся структура организации способствует подготовки и реализации модели развития. С другой стороны начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач.



        .article__row.article__row--bottom(style="--flex: flex-start;")
          +avatar("Марат Шайхетдинов", "Основатель сервиса TgBooster, сооснователь агентства Clickise")
          time.article__time(datetime="2023-04-18") 18 апреля 2023

      .article__column.article__column--empty

      .article__column
        .article-sticky
          +avatar("Марат Шайхетдинов", "Основатель сервиса TgBooster, сооснователь агентства Clickise", socials)(style="--avatar-dir: column; --avatar-gap: 2rem;")

