.blog-list-filter {
  position: relative;
  display: flex;
  gap: 2rem;
  align-items: center;
  width: auto;
  margin-right: calc(-1 * var(--padding-offset));
  margin-bottom: 6rem;
  padding-right: var(--padding-offset);
  overflow: hidden;
  overflow-x: scroll;

  @include noScrollbar();

  @include mq(sm) {
    gap: 1rem;
    margin-bottom: 3rem;
  }
}
