.blog-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .page-grid {
    --grid-gap: 6rem 3rem;

    @include mq(sm) {
      display: block;
    }
  }

  margin-bottom: 12.8rem;

  @include mq(sm) {
    margin-bottom: 6rem;
  }

  &__btn {
    --py: 2rem;
    --px: 2.8rem;
    --br: 3rem;
    --font: var(--weight) var(--font-big);

    margin-top: 10rem;

    @include mq(sm) {
      margin-top: 6rem;
    }
  }
}

.blog-card-item {
  grid-column: 4 span;

  @include mq(sm) {
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
