.blog-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .page-grid {
    --grid-gap: 6rem 3rem;
  }

  margin-bottom: 12.8rem;

  &__btn {
    --py: 2rem;
    --px: 2.8rem;
    --br: 3rem;
    --font: var(--weight) var(--font-big);

    margin-top: 10rem;
  }
}

.blog-card-item {
  grid-column: 4 span;
}
