mixin banner()
  section.view-shield&attributes(attributes)
    a.tag.view-shield__tag(href="./") Категория статьи
    header.view-shield__header
      h1.view-shield__heading
        | Как собаки помогают бизнесу расти: опыт владельца digital-агентства
      a.view-shield__btn.button.button--white(href="./blog-detail.html") Читать статью
