-
  links = [
    { name: "Политика обработки персональных данных", link: "./" },
    { name: "Договор оферты", link: "./" },
    { name: "Разработка дизайна", link: "./", icon: "assets/images/icon-footer.png" },
  ]

footer.footer.footer--bg
  .site-container.footer__container.page-grid
    .footer__grid-column
      .footer__logo
        +icon-multi("logo2")(width="170" height="56")

    .footer__grid-column
      +nav()(class="footer__nav nav--column nav--big")

    .footer__grid-column
      ul.footer__links
        for item, index in links
          li.footer__links-item
            a(href=item.link class={'flex-center': item.icon})= item.name
              if (item.icon)
                img(src=item.icon alt=item.name)

      .footer__btn-group
        button.button.footer__btn Регистрация
        button.button.button--secondary.footer__btn Вход в Clickise
