header.header
  .header__container.page-grid
    .header-grid__column
      a.logo(href="./" aria-label="Перейти на главную страницу")
        +icon-multi("logo")(width="308" height="36" class="logo__desktop" aria-label="Логотип компании Clickise")
        +icon-multi("logo-mobile")(width="100" height="33" aria-hidden="true" class="logo__mobile" aria-label="Логотип компании Clickise")
    .header-grid__column
      +nav(nav)

      .header__btn-group
        button.button.button--light Войти
        button.btn-burger.js-open-menu(aria-label="Открыть главное меню")
          span.visually-hidden Главное меню
          +icon-mono("burger")(width="12" height="9")
        button.button Регистрация
